*.txos
*.swp
*.swo
cmd/txottl/txottl
cmd/blockparser/blockparser
cmd/ibdsim/ibdsim
cmd/clair/clair
cmd/simcmd/simcmd
cmd/utreexoclient/utreexoclient
cmd/utreexoserver/utreexoserver
cmd/utreexoclient/pollardFile 
/accumulator/corpus/
/accumulator/crashers/
/accumulator/suppressions/
/accumulator/accumulator-fuzz.zip
/accumulator/coverprofile
/accumulator/sonarprofile
